<mat-card class="rounded-4">
  <mat-card-content class="p-4">
    <h3>Profile</h3>
    <br />
    <div class="position-relative mb-5">
      <br />
      <br />
      <br />
      <br />
      <div class="position-absolute top-100 start-50 translate-middle">
        <label class="hoverable" for="fileInput">
          <img
            src="{{ baseUrl + userImage }}"
            width="170"
            height="170"
            class="rounded-circle raised p-1 mat-bg-white mat-elevation-z8"
          />
          <span class="photoIcon"
            ><mat-icon [ngStyle]="{ color: '#eeeeeeba' }">add_a_photo</mat-icon>
            <!-- <mat-icon>camera_alt</mat-icon> -->
          </span>
        </label>
        <br />
        <input
          hidden
          id="fileInput"
          type="file"
          (change)="uploadImage($event)"
        />
      </div>
    </div>
    <div
      class="pt-5 d-flex flex-column flex-lg-row align-items-start justify-content-between gap-4"
    >
      <div class="">
        <h4 class="mb-2">{{ userDataList?.displayName }}</h4>
        <p class="mb-1">{{ userDataList?.email }}</p>
        <!-- <p>New York, United States</p> -->
        <!-- <div class="d-flex align-items-center flex-column flex-lg-row gap-3 mt-3">
                <button mat-stroked-button class="rounded-pill px-3">UX Research</button>
                <button mat-stroked-button class="rounded-pill px-3">CX Strategy</button>
                <button mat-stroked-button class="rounded-pill px-3">Project Management</button>
              </div> -->
      </div>
      <div class="">
        <button
          mat-flat-button
          class="rounded-pill px-3 btn-green"
          *ngIf="!editable"
          (click)="edit()"
        >
          Edit Profile
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="row">
  <div class="col-12 col-xl-12" *ngIf="!editable">
    <mat-card class="rounded-4">
      <mat-card-content class="p-4">
        <!-- <div
          class="d-flex flex-row gap-3 align-items-center justify-content-between mb-3">
          <div class="">
            <h5 class="">Contact</h5>
          </div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="rounded-4">
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">visibility</mat-icon>
                <span>View</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </div> -->

        <div class="row g-3">
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-4"><mat-label>Display Name</mat-label></div>
              <div class="col-1">:</div>
              <div class="col-7">
                <h6>{{ userDataList?.displayName }}</h6>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-4"><mat-label>First Name</mat-label></div>
              <div class="col-1">:</div>
              <div class="col-7">
                <h6>{{ userDataList?.firstName }}</h6>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-4"><mat-label>Last Name</mat-label></div>
              <div class="col-1">:</div>
              <div class="col-7">
                <h6>{{ userDataList?.lastName }}</h6>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-4"><mat-label>Email</mat-label></div>
              <div class="col-1">:</div>
              <div class="col-7">
                <h6>{{ userDataList?.email }}</h6>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-4"><mat-label>Phone</mat-label></div>
              <div class="col-1">:</div>
              <div class="col-7">
                <h6>{{ userDataList?.phone }}</h6>
              </div>
            </div>
          </div>
          <br />
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-4"><mat-label>Is Active</mat-label></div>
              <div class="col-1">:</div>
              <div class="col-7">
                <h6>{{ userDataList?.isActive }}</h6>
              </div>
            </div>
          </div>
        </div>
        <!--end row-->
      </mat-card-content>
    </mat-card>
  </div>

</div>

<div class="row">
  <div class="col-12 col-xl-12" *ngIf="editable">
    <form [formGroup]="form">
      <mat-card class="rounded-4">
        <mat-card-content class="p-4">
          <div
            class="d-flex flex-row gap-3 align-items-center justify-content-between mb-3"
          >
            <div class="col-11">
              <h5 class="">Edit Profile</h5>
            </div>

            <div class="col-1">
              <mat-icon matSuffix type="button" (click)="close()"
                >cancel</mat-icon
              >
            </div>
            
          </div>

          <div class="row g-3">
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Display Name</mat-label>
                <input matInput formControlName="displayName" readonly/>
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" readonly/>
                <mat-icon matSuffix>local_post_office</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" />
                <mat-icon matSuffix>account</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" />
                <mat-icon matSuffix>account</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" />
                <mat-icon matSuffix>local_phone</mat-icon>
              </mat-form-field>
            </div>
           
            <div class="col-12 col-md-12">
              <div class="d-flex gap-3">
                <button
                  mat-flat-button
                  class="px-4 btn-green"
                  (click)="Update()"
                >
                  Update Profile
                </button>
                <button mat-stroked-button class="px-4" (click)="Reset()">
                  Reset
                </button>
              </div>
            </div>
          </div>
         
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
