<!-- <div class="row g-4"> -->
<div class="container ">
    <div class="col-12 col-xl-12">
        <br>
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col-11">
                        <h5 class="mb-3">City Form</h5>
                    </div>
                    <div class="col-1">
                        <mat-icon matSuffix type="button" (click)="close()">cancel</mat-icon>
                    </div>
                </div>
                <form [formGroup]="form">
                    <div class="row g-3">
                        <div class="col-12 col-md-12 col-lg-6">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="name" maxlength="100" (keypress)="validateName()">
                                <mat-icon matSuffix>account_circle</mat-icon>
                                <mat-error *ngIf="form.get('name').hasError('required')">
                                    Name is required
                                </mat-error>
                                <mat-error *ngIf="form.get('name').hasError('pattern')">
                                    Number is not allowed
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <ng-select [items]="countryService.countries" bindLabel="name" bindValue="id"
                                    labelForId="country" [multiple]="false" [searchable]="true" clearAllText="Clear"
                                    formControlName="countryId" placeholder="Country"
                                    (change)="onCountryChange($event)">
                                </ng-select>
                                <mat-error *ngIf="form.get('countryId').hasError('required') && form.get('countryId').touched">
                                    Please select country
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <ng-select [items]="cityService.states" bindLabel="name" bindValue="id"
                                    [multiple]="false" [searchable]="true" clearAllText="Clear"
                                    formControlName="stateId" placeholder="State">
                                </ng-select>
                                <mat-error *ngIf="form.get('stateId').hasError('required') && form.get('stateId').touched">
                                    Please select state
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Latitude</mat-label>
                                <input matInput formControlName="latitude" type="number">
                                <mat-icon matSuffix>edit_location</mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-12 col-lg-6">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Longitude</mat-label>
                                <input matInput formControlName="longitude" type="number">
                                <mat-icon matSuffix>edit_location</mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-12 col-lg-6">
                            <section class="example-section">
                                <mat-slide-toggle formControlName="isActive" (change)="isactiveChange($event)"
                                    class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled"
                                    labelPosition="before">
                                    IsActive :
                                </mat-slide-toggle>
                            </section>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12">
                            <mat-dialog-actions class="d-flex gap-3 button-container" align="end">
                                <button mat-flat-button class="px-4 btn-green" type="button" (click)="SubmitForm()">
                                    Submit
                                </button>
                                <button mat-stroked-button class="px-4" (click)="Reset()">
                                    Reset
                                </button>
                            </mat-dialog-actions>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>