.file-upload{
    margin-top: 0px;
}

.form-margin {
    margin-top: 15px;
}
.mat-card-margin {
    margin-top: 20px;
}
.fieldset-class {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.mat-success {
    background-color: green;
    color: #fff;
}