<!-- <h6 class="mb-0 text-uppercase">Country Master</h6>
<div class="example-button-row">
    <button mat-flat-button color="primary">Add</button>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-sm-11">
            <h6 class="mb-0 text-uppercase">Postal Code</h6>
        </div>

        <div class="col-sm-1">
            <button mat-flat-button color="success" class="btn-green" (click)="add()">Add</button>
        </div>

    </div>
</div>
<hr>

<mat-card>
    <mat-card-content>
        <div class="d-flex flex-row gap-3 align-items-center justify-content-between">
            <!-- <div class="">
                <h5 class="">Country Master</h5>
            </div> -->
            <!-- <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon class="material-icons-outlined">visibility</mat-icon>
                        <span>View</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon class="material-icons-outlined">edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon class="material-icons-outlined">delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </div> -->
        </div>

        <!-- <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)"  #input>
        </mat-form-field> -->
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="searchKeywordFilter" placeholder="Title Search" #input>
        </mat-form-field>

        <div class="sorting-table table-responsive">
            <!-- <table mat-table [dataSource]="dataSource" matSort> -->

            <div *ngIf="isLoadingResults"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" mode="indeterminate" [diameter]="50">
                </mat-progress-spinner>
            </div>

            <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="Name"
                matSortDisableClear matSortDirection="desc">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SN.NO </th>
                    <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> COUNTRY </th>
                    <td mat-cell *matCellDef="let row"> {{row.countryName !== null ? row.countryName : 'N/A'}} </td>
                </ng-container>
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> STATE </th>
                    <td mat-cell *matCellDef="let row"> {{row.stateName !== null ? row.stateName : 'N/A'}} </td>
                </ng-container>

                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CITY </th>
                    <td mat-cell *matCellDef="let row"> {{row.cityName !== null ? row.cityName : 'N/A'}} </td>
                </ng-container>


                <ng-container matColumnDef="postalCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> POSTAL CODE </th>
                    <td mat-cell *matCellDef="let row"> {{row.postalCode !== null ? row.postalCode : 'N/A'}} </td>
                </ng-container>


                <ng-container matColumnDef="latitude">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> LATITUDE </th>
                    <td mat-cell *matCellDef="let row"> {{row.latitude !== null ? row.latitude :  'N/A'}} </td>
                </ng-container>

                <ng-container matColumnDef="longitude">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> LONGITUDE </th>
                    <td mat-cell *matCellDef="let row"> {{row.longitude !== null ? row.longitude : 'row.longitude'}} </td>
                </ng-container>

                <ng-container matColumnDef="isTaxApplicable">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> IS TAX APPLICABLE </th>
                    <td mat-cell *matCellDef="let row"> {{row.isTaxApplicable}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="taxRate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TAX RATE </th>
                    <td mat-cell *matCellDef="let row"> {{row.taxRate !== null ? row.taxRate : 'N/A'}} </td>
                </ng-container>

                <ng-container matColumnDef="description" style="width: 100px;">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION </th>
                    <td mat-cell *matCellDef="let row"> {{row.description !== null ? row.description : 'N/A'}} </td>
                </ng-container>

                <ng-container matColumnDef="lastActionBy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> LAST ACTION BY </th>
                    <td mat-cell *matCellDef="let row"> {{row.lastActionBy !== null ? row.lastActionBy :'N/A'}} </td>
                </ng-container>

                <ng-container matColumnDef="lastActionOn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> LAST ACTION ON </th>
                    <td mat-cell *matCellDef="let row"> {{row.lastActionOn | date : "dd/MM/yyyy"}} </td>
                </ng-container>

                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
                    <td mat-cell *matCellDef="let row"> {{row.isActive}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> ACTION</mat-header-cell>
                    <mat-cell *matCellDef="let row;">
                        <button mat-icon-button (click)="edit(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <!-- <button mat-icon-button (click)="delete(row.id)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button> -->
                    </mat-cell>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <!-- <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of countries"></mat-paginator> -->

            <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizes"
                aria-label="Select page of GitHub search results" showFirstLastButtons></mat-paginator>
        </div>



    </mat-card-content>
</mat-card>