.container {
  // height: 73%;
  width: 50%;
  // display: none;
  position: fixed;
  top: 10%;
  left: 25%;
  z-index: 1;
  overflow: none;
}

@media only screen and (max-width: 700px) {
  .container{
    height: 90%;
    width: 50%;
    position: fixed;
    top: 10%;
    left: 25%;
    z-index: 1;
    overflow:auto;
  }
}
.mat-success {
  background-color: green;
  color: #fff;
}

// ::ng-deep mat-dialog-container {
//     border-radius: 20px !important;
// }

// .container {
//     border-radius: 20px !important;
// }
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.close-button {
  cursor: pointer;
}
