.mat-success {
    background-color: green;
    color: #fff;
}

.btn-class {
    padding-left: 40px;
    padding-top: 17px;
}
.label-class {
    margin-right: 10px;
     font-weight: 500;
}
.row-bottom {
    margin-bottom: 20px;
}
.fieldset-class {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}